text {
    text-anchor: middle;
    font-size: 48px;
    font-family: Verdana;
}

.background {
    fill: coral;
}

.shadow {
    fill: black;
    opacity: 0.2;
}

.operand {
    fill: #ffffe0;
}
