text {
    text-anchor: middle;
    font-size: 48px;
}

.background {
    fill: deepskyblue;
    stroke: turquoise;
    stroke-width: 1;
}

.shadow {
    fill: black;
    opacity: 0.2;
}

.operand {
    fill: #ffffe0;
}
