text {
    text-anchor: middle;
    font-size: 48px;
}

.background {
    fill: deepskyblue;
    stroke: #10D0FF;
    stroke-width: 1;
}

.playback .background {
    fill: #CC0000;
    stroke: black;
    stroke-width: 2;
}

.invalid .background {
    fill: lightgray;
    stroke: gray;
    stroke-width: 1;
}

.shadow {
    fill: black;
    opacity: 0.2;
}

.operand {
    fill: #ffffe0;
}

path.graph {
    fill: none;
    stroke: blue;
    stroke-width: 3px;
}

path.axes {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

circle.graph {
    fill: green;
    stroke: #000000;
    stroke-width: 1px;
}

rect.canvas {
    fill: none;
    stroke: #000000;
    stroke-width: 1px;
}

text.canvas {
    font-size: 10pt;
}
