#levels {
    list-style-type: none;
    display: inline;
    width: 500px;
} 

#levels li {
    border: 1px solid black;
    width: 150px;
    float: left;
    height: 100px;
    margin: 10px;
    padding: 20px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#levels a {
    text-decoration: none;
}

img.result {
    width: 60px;
    height: 60px;
    border: solid 1px  black;
}

.passed li {
    background: url(background-smile.svg);
    color: white;
}

.untouched li {
    background: url(background-frown.svg);
    color: black;
}

.started li {
    background: url(background-warm.svg);
    color: black;
}

.progress li {
    background: url(background-hot.svg);
    color: black;
}